<p id="notice"><%= notice %></p>

<p>
  <strong>Userid:</strong>
  <%= @biography.userId %>
</p>

<p>
  <strong>Description:</strong>
  <%= @biography.description %>
</p>

<%= link_to 'Edit', edit_biography_path(@biography) %> |
<%= link_to 'Back', biographies_path %>
