<%= form_with(model: comment) do |form| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
        <% comment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :commentId %>
    <%= form.number_field :commentId %>
  </div>

  <div class="field">
    <%= form.label :postId %>
    <%= form.number_field :postId %>
  </div>

  <div class="field">
    <%= form.label :posterId %>
    <%= form.number_field :posterId %>
  </div>

  <div class="field">
    <%= form.label :commentDate %>
    <%= form.date_select :commentDate %>
  </div>

  <div class="field">
    <%= form.label :message %>
    <%= form.text_field :message %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
