<%= form_with(model: comment) do |form| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
        <% comment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  </br><div class="col d-flex justify-content-center">
      <div class="card text-center" style="width: 25rem;">
      <h5 class="card-title">Comment Information</h5>
        <div class="field">
          <%= form.label :commentId %>
          <%= form.number_field :commentId %>
        </div>
      
        <div class="field">
          <%= form.label :postId %>
          <%= form.number_field :postId %>
        </div>
      
        <div class="field">
          <%= form.label :posterId %>
          <%= form.number_field :posterId %>
        </div>
      
        <div class="field">
          <%= form.label :commentDate %>
          <%= form.date_select :commentDate %>
        </div>
      
        <div class="field">
          <%= form.label :message %>
          </br><%= form.text_area :message, :cols => "30", :rows => "3"%>
        </div>
        <div class = "actions">
          <%= form.submit class: "btn btn-outline-primary"%>
          <%= link_to 'Show', @comment, class: "btn btn-outline-primary" %>
          <%= link_to 'Back', comments_path, class: "btn btn-outline-primary"  %>
        </div>
      </div>
    </div>


<% end %>
