<p id="notice"><%= notice %></p>

<p>
  <strong>Commentid:</strong>
  <%= @comment.commentId %>
</p>

<p>
  <strong>Postid:</strong>
  <%= @comment.postId %>
</p>

<p>
  <strong>Posterid:</strong>
  <%= @comment.posterId %>
</p>

<p>
  <strong>Commentdate:</strong>
  <%= @comment.commentDate %>
</p>

<p>
  <strong>Message:</strong>
  <%= @comment.message %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
