<h1>Editing Group</h1>



<%= form_with model: @group do |form|%>
    <% if @group.errors.any? %>
        <div id="error_explanation">
        <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

        <ul>
            <% group.errors.each do |error| %>
            <li><%= error.full_message %></li>
            <% end %>
        </ul>
        </div>
    <% end %>

    <div class="field">
    <%= form.label :groupId %>
    <%= form.number_field :groupId %>
    </div>

    <div class="field">
    <%= form.label :leaderInt %>
    <%= form.select :leaderInt, User.where(isOfficer: true).order(:firstName).map{|user| [user.firstName, user.studentId]}, include_blank: true, id: "group_leaderInt", name: "group"%>
    </div>
    <div class = "field">
        <%= form.label :user_id%>
        <%= form.select :user_id, User.where.not(groupId: @group.groupId).order(:firstName).map{|user| [user.firstName, user.studentId]}, include_blank: true, id: "id_of_the_user_id_select_box", name: "user"%>
        <%= form.label :remove_users%>
        <%= form.select :remove_users, User.where(groupId: @group.groupId).order(:firstName).map{|user| [user.firstName, user.studentId]}, include_blank: true, id: "id_of_the_user_id_select_box", name: "user"%>
    </div>
    <div class = "actions">
    <%= form.submit %>
    </div>
<%end%>


<%= link_to 'Show', group_path(@group.groupId) %>
<% if current_user.isAdmin %>
    | <%= link_to 'All groups', groups_path %>
<% end %>
