<p id="notice"><%= notice %></p>

<p>
  <strong>Groupid:</strong>
  <%= @group.groupId %>
</p>

<p>
  <strong>Group Leader:</strong>
  <%= User.where(studentId: @group.leaderInt).first ? User.where(studentId: @group.leaderInt).first.firstName : "None"  %>
</p>

<p>
  <strong>Members:</strong>
</p>
  <%User.where(groupId: @group.groupId).where.not(studentId: @group.leaderInt).each do |user| %>
    <tr>
      <td><%=user.firstName%> </td>
      <td><%=user.lastName%> </td>
      <td><%if current_user.isOfficer%>
        <%= link_to 'Show', user%>
      <% end %>
      </td>
    </tr>
    <br/>
<% end %>

<% if current_user.isOfficer%>
  <%= link_to 'Edit', edit_group_path(@group) %> |
<% end %>

<% if current_user.isAdmin %>
  <%= link_to 'Back', groups_path %>
<% end %>

