<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <nav class="navbar navbar-dark bg-primary"> 
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <h1 style="color: white;">
          Group:
          <% if current_user.groupId.present? %>
            <%= @group.groupId %>
          <% end %>
        </h1> 
        <%= link_to "Sign Out", destroy_user_session_path, class:"text-light btn btn-outline-light"%>
      </div>
    </nav>
    <div class="collapse" id="navbarToggleExternalContent">
      <div class="bg-primary p-4">
        <span class="text-white h4 center">
            <ul class="navbar-nav text-center">
                <%= link_to 'Profile', user_path(current_user.studentId), class:"text-light btn btn-primary btn-lg btn-block" %>
                <% if current_user.groupId.present? %>
                    <%= link_to 'Group', group_path(current_user.groupId), class:"text-light btn btn-primary btn-lg btn-block" %>
                <% end %>
                <%= link_to 'Forum', posts_path, class:"text-light btn btn-primary btn-lg btn-block" %>
                <%= link_to 'Users', users_path, class:"text-light btn btn-primary btn-lg btn-block" %>
                <% if current_user.isAdmin || current_user.isOfficer%>
                  <%= link_to 'All Posts', posts_path, class:"text-light btn btn-primary btn-lg btn-block" %>
                  <%= link_to 'All groups', groups_path, class:"text-light btn btn-primary btn-lg btn-block" %>
                <% end %>
            </ul>
        </span>
      </div>
    </div>
  </head>



  <body>

  <div class="groups-background" style="height:100vh;">
  

      </br><div style="display:flex;height:100%; margin-left:5%;">

          <div style="float: left;">
            <strong>Your Profile:</strong>
            <div class="card text-center" style="width: 18rem; height: 30rem;">
              <div class="text-center">
                <br><img src= <%= current_user.avatarUrl %> class="rounded-circle" style="width: 150px;" alt="avatar"></br>
              </div>
              <div class="card-body">
                <h5 class="card-title">
                  <%= current_user.fullName %>
                </h5>
                <p class="card-text">
                  <% if Biography.find_by(userId: current_user.studentId)%>
                    <%= Biography.find_by(userId: current_user.studentId).description%>
                  <% end %>
                </p>
              </div>
              <ul class="list-group list-group-flush">
                <% if current_user.isAdmin && current_user.isOfficer%>
                  <li class="list-group-item">
                    Admin, Officer
                  </li>
                <% end %>
                <% if !current_user.isAdmin && current_user.isOfficer%>
                  <li class="list-group-item">
                    Officer
                  </li>
                <% end %>
                <% if current_user.isAdmin && !current_user.isOfficer%>
                  <li class="list-group-item">
                    Admin
                  </li>
                <% end %>
                <% if !current_user.isOfficer  && !current_user.isAdmin%>
                  <li class="list-group-item">
                    Buddy
                  </li>
                <% end %>

                
                <% if current_user.gradAssistance %>
                  <li class="list-group-item">
                    Graduate Assistantship
                  </li>
                <% end %>  
                

                <li class="list-group-item">
                  <% if Interest.find_by(userId: current_user.studentId)%>
                    <%= Interest.find_by(userId: current_user.studentId).phone%>
                  <% end %>
                </li>

                <li class="list-group-item">
                  <%= current_user.tamuEmail %>
                </li>

              </ul>
              <div class="card-body">
                <div class="col d-flex justify-content-center">
                  <a href="#" class="card-link">
                    <%= link_to 'Profile', user_path(current_user.studentId),:class => "text-white btn btn-primary ms-1" %>

                    <% if current_user.isOfficer || current_user.isAdmin %>
                      <%= link_to 'Edit', edit_group_path(@group.groupId), :class => "text-white btn btn-primary ms-1" %>
                    <% end %>
                  </a>
                </div>
              </div>
            </div>
          </div>
          

          



          
        <div class="border border-primary" style="border-left:2px solid;margin:0 5%;"></div>
          
            <div>
              
                
                &nbsp;&nbsp;&nbsp;
                <strong>Group Leader:</strong>
                <div style="display:flex;height:100%; margin-left:5%;">
                  <div class="mx-auto card text-center" style="width: 18rem; height: 26rem;">
                    <div class="text-center">
                      <br><img src= <%= User.where(studentId: @group.leaderInt).first ? User.where(studentId: @group.leaderInt).first.avatarUrl : "None" %> class="rounded-circle" style="width: 150px;" alt="avatar"></br>
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">
                        <%= User.where(studentId: @group.leaderInt).first ? User.where(studentId: @group.leaderInt).first.fullName : "None"  %>
                      </h5>
                      <p class="card-text">
                        <% if Biography.find_by(userId: @group.leaderInt)%>
                          <%= Biography.find_by(userId: @group.leaderInt).description%>
                        <% end %>
                      </p>
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">
                          Officer
                      </li>
                    
                      <% if current_user.gradAssistance %>
                        <li class="list-group-item">
                          Graduate Assistantship
                        </li>
                      <% end %>  
                      

                      <li class="list-group-item">
                        <% if Interest.find_by(userId: @group.leaderInt)%>
                          <%= Interest.find_by(userId: @group.leaderInt).phone%>
                        <% end %>
                      </li>

                      <li class="list-group-item">
                        <%= User.where(studentId: @group.leaderInt).first ? User.where(studentId: @group.leaderInt).first.tamuEmail : "None"  %>
                      </li>

                    </ul>
                  </div>


                </div>
              </div>

              &nbsp;&nbsp;&nbsp;&nbsp;



              </br><div style="float: right;">
                &nbsp;&nbsp;&nbsp;
                <strong>Members:</strong>
                <div class="container-fluid mb-4">
                  <div class="row justify-content-center row-cols-sm-2 row-cols-md-3">
                    <%User.where(groupId: @group.groupId).where.not(studentId: @group.leaderInt).each do |user| %>

                      
                      <div>
                        <div class="mx-auto card text-center" style="width: 12rem;">
                          <div class="card-header">
                            <%=user.fullName%>
                          </div>
                          <ul class="list-group list-group-flush">
                            <% if !user.isOfficer  && !user.isAdmin%>
                              <li class="list-group-item">
                                Buddy
                              </li>
                            <% end %>
                            <% if user.gradAssistance %>
                              <li class="list-group-item">
                                Graduate Assistantship
                              </li>
                            <% end %>  
                            <% if Interest.find_by(userId: user.studentId)%>
                              <li class="list-group-item">
                                <%= Interest.find_by(userId: user.studentId).phone%>
                              </li>
                            <% end %>
                            <li class="list-group-item"><%=user.tamuEmail%></li>
                          </ul>
                          <%if current_user.isOfficer%>
                            <%= link_to 'Show', user_path(user.studentId), :class => "text-white btn btn-primary btn-sm"%>
                          <% end %>
                        </div> 
                        </br>
                      </div> 
                    <% end %>
                    
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
  </body>
</html>


