<p id="notice"><%= notice %></p>

<p>
  <strong>Groupid:</strong>
  <%= @group.groupId %>
</p>

<p>
  <strong>Leaderint:</strong>
  <%= @group.leaderInt %>
</p>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
