<head>
<%= stylesheet_link_tag 'catalog'%>
</head>
<p id="notice"><%= notice %></p>


<h1 class = "title" >User Catalog</h1>
<div class = "table-container">
<table class = "table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Role</th>
      <th>Group ID</th>
      <th colspan="5"></th>
    </tr>
  </thead>



<tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.firstName %> <%=user.lastName %></td>
        <td><%= user.tamuEmail %></td>
        <% if user.isOfficer%>
          <td>Officer</td>
        <% else %>
          <td>Buddy</td>
        <%end%>
        <td><%= user.groupId%></td>
        <td><%= link_to 'Show', user_path(user.studentId) %> | <%= link_to 'Edit', edit_user_path(user.studentId) %> | <%= link_to 'Destroy', user_path(user.studentId), method: :delete, data: { confirm: 'Are you sure?' } %></td>

      </tr>
    <% end %>
  </tbody>
</table>
  <div class = "links"><%=link_to 'New User', new_user_path %> | <%= link_to "Let's Match", affinity_matching_users_path %></div>

  </div>

<br>

