<head>
<%= stylesheet_link_tag 'catalog'%>
  <nav class="navbar navbar-dark bg-primary"> 
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <h1 style="color: white;">User Catalog</h1> 
      <%= link_to "Sign Out", destroy_user_session_path, class:"text-light btn btn-outline-light"%>
    </div>
  </nav>
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-primary p-4">
      <span class="text-white h4 center">
          <ul class="navbar-nav text-center">
              <%= link_to 'Profile', user_path(current_user.studentId), class:"text-light btn btn-primary btn-lg btn-block" %>
              <% if current_user.groupId.present? %>
                  <%= link_to 'Group', group_path(current_user.groupId), class:"text-light btn btn-primary btn-lg btn-block" %>
              <% end %>
              <%= link_to 'Forum', posts_path, class:"text-light btn btn-primary btn-lg btn-block" %>
              <% if current_user.isAdmin || current_user.isOfficer%>
                <%= link_to 'All Users', users_path, class:"text-light btn btn-primary btn-lg btn-block" %>
                <%= link_to 'All groups', groups_path, class:"text-light btn btn-primary btn-lg btn-block" %>
                <%= link_to 'All interests', interests_path, class:"text-light btn btn-primary btn-lg btn-block" %>
              <% end %>
          </ul>
      </span>
    </div>
  </div>

</head>
<p id="notice"><%= notice %></p>

<div class = "table-container">
<table class = "table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Role</th>
      <th>Group ID</th>
      <th colspan="5"></th>
    </tr>
  </thead>



<tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.fullName %></td>
        <td><%= user.tamuEmail %></td>
        <% if user.isOfficer%>
          <td>Officer</td>
        <% else %>
          <td>Buddy</td>
        <%end%>
        <td><%= user.groupId%></td>
        <td><%= link_to 'Show', user_path(user.studentId) %> | <%= link_to 'Edit', edit_user_path(user.studentId) %> | <%= link_to 'Destroy', user_path(user.studentId), method: :delete, data: { confirm: 'Are you sure?' } %></td>

      </tr>
    <% end %>
  </tbody>
</table>
  <%=link_to 'New User', new_user_path, class:"text-white btn btn-primary btn-sm" %> 
  <%= link_to "Let's Match", affinity_matching_users_path, class:"text-white btn btn-primary btn-sm" %>


  </div>

<br>

