<head>
<%= stylesheet_link_tag 'catalog'%>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary"> 
  <div class="container-fluid" id="navbarText">
    
      
      <ul class="navbar-nav">

        <li class="nav-item active">
          <%= link_to 'Profile', user_path(current_user.studentId), class:"text-light btn btn-primary btn-lg btn-block" %>
        </li>

        <% if current_user.groupId.present? %>
          <li class="nav-item">
            <%= link_to 'Group', group_path(current_user.groupId), class:"text-light btn btn-primary btn-lg btn-block" %>
          </li> 
        <% end %>

        <li class="nav-item">
          <%= link_to 'Forum', posts_path, class:"text-light btn btn-primary btn-lg btn-block" %>
        </li>

        <% if current_user.isAdmin %>
          <li class="nav-item">
            <%= link_to 'Users', users_path, class:"text-light btn btn-primary btn-lg btn-block" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to 'Officers', users_path, class:"text-light btn btn-primary btn-lg btn-block" %>
          </li>
        <% end %>  

        <% if current_user.isAdmin%>
          <li class="nav-item">
            <%= link_to 'All Groups', groups_path, class:"text-light btn btn-primary btn-lg btn-block" %>
          </li>
        <% end %>  

        <li class="nav-item">
            <%= link_to 'About', about_path, class:"text-light btn btn-primary btn-lg btn-block" %>
        </li>
        
      </ul>
      
    <%= link_to "Sign Out", destroy_user_session_path, class:"text-light btn btn-outline-light"%>
  </div>
</nav>

</head>


</br><div class = "table-container">
<table class = "table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Role</th>
      <th>Group ID</th>
      <th colspan="5"></th>
    </tr>
  </thead>



<tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.fullName %></td>
        <td><%= user.tamuEmail %></td>
        <% if user.isOfficer%>
          <td>Officer</td>
        <% else %>
          <td>Buddy</td>
        <%end%>
        <td><%= user.groupId%></td>
        <td>
          <%= link_to 'Show', user_path(user.studentId) %> 
          <%if current_user.isAdmin %> | 
            <%= link_to 'Edit', edit_user_path(user.studentId) %> | 
            <%= link_to 'Delete', user_path(user.studentId), method: :delete, data: { confirm: 'Are you sure?' } %>
          <%end%>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>
  <%if current_user.isAdmin %>
  <%=link_to 'New User', new_user_path, class:"text-white btn btn-primary btn-sm" %> 
  <%= link_to "Let's Match", affinity_matching_users_path, class:"text-white btn btn-primary btn-sm" %>
  <%end%>


  </div>

<br>

