<p id="notice"><%= notice %></p>

<p>
  <strong>Studentid:</strong>
  <%= @user.studentId %>
</p>

<p>
  <strong>Groupid:</strong>
  <%= @user.groupId %>
</p>

<p>
  <strong>Insterestsid:</strong>
  <%= @user.insterestsId %>
</p>

<p>
  <strong>Profileid:</strong>
  <%= @user.profileId %>
</p>

<p>
  <strong>Isofficer:</strong>
  <%= @user.isOfficer %>
</p>

<p>
  <strong>Isadmin:</strong>
  <%= @user.isAdmin %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @user.firstName %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @user.lastName %>
</p>

<p>
  <strong>Tamuemail:</strong>
  <%= @user.tamuEmail %>
</p>

<p>
  <strong>Dateofbirth:</strong>
  <%= @user.dateOfBirth %>
</p>

<p>
  <strong>Gradassistance:</strong>
  <%= @user.gradAssistance %>
</p>

<% if current_user.studentId == @user.studentId %>
  <%= link_to 'Edit', edit_user_path(@user.studentId) %>
  |
  <% if not Interest.where(userId: current_user.studentId).exists? %>
    <%= link_to 'Edit Interest', new_interest_path %>
  <% else %>
    <%= link_to 'Edit Interest', edit_interest_path(@user.studentId) %>
  <% end %>
<% end %>

| <%= link_to 'Forum', posts_path %>

<% if current_user.isAdmin %>
  | <%= link_to 'All Users', users_path %>
<% end %>
<% if @user.groupId.present? %>
  | <%= link_to 'Group', group_path(@user.groupId) %>
<% end %>

