<%= form_with(model: interest) do |form| %>
  <% if interest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(interest.errors.count, "error") %> prohibited this interest from being saved:</h2>

      <ul>
        <% interest.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :userId %>
    <%= form.number_field :userId %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone %>
  </div>

  <div class="field">
    <%= form.label :nationality %>
    <%= form.text_field :nationality %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.text_field :state %>
  </div>

  <div class="field">
    <%= form.label :community %>
    <%= form.select(:community, [['Park West'],['White Creek']], {:prompt => "Please select"})%>
  </div>

  <div class="field">
    <%= form.label :numPrereqs %>
    <%= form.number_field :numPrereqs %>
  </div>

  <div class="field">
    <%= form.label :scholarship %>
    <%= form.text_field :scholarship %>
  </div>

  <div class="field">
    <%= form.label :faveMovieGenre %>
    <%= form.text_field :faveMovieGenre %>
  </div>

  <div class="field">
    <%= form.label :potentialRoles %>
    <%= form.select :potentialRoles, options_for_select('Software Engineering', 'Data Analytics', 'Data Science', 'Business Intelligence', 'Consulting', 'Project Management', 'Product Management', 'Data Engineering', 'Business Analytics', 'Cyber Security'), {}, { :multiple => true, :size => 3}) %>
  </div>

  <div class="field">
    <%= form.label :numWorkExp %>
    <%= form.number_field :numWorkExp %>
  </div>

  <div class="field">
    <%= form.label :usedTech %>
    <%= form.text_field :usedTech %>
  </div>

  <div class="field">
    <%= form.label :projects %>
    <%= form.text_field :projects %>
  </div>

  <div class="field">
    <%= form.label :extracurric %>
    <%= form.text_field :extracurric %>
  </div>

  <div class="field">
    <%= form.label :pastWorkExp %>
    <%= form.text_field :pastWorkExp %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
