<p id="notice"><%= notice %></p>

<h1>Interests</h1>

<table>
  <thead>
    <tr>
      <th>Userid</th>
      <th>Phone</th>
      <th>Nationality</th>
      <th>State</th>
      <th>Community</th>
      <th>Numprereqs</th>
      <th>Scholarship</th>
      <th>Favemoviegenre</th>
      <th>Potentialroles</th>
      <th>Numworkexp</th>
      <th>Usedtech</th>
      <th>Projects</th>
      <th>Extracurric</th>
      <th>Pastworkexp</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @interests.each do |interest| %>
      <tr>
        <td><%= interest.userId %></td>
        <td><%= interest.phone %></td>
        <td><%= interest.nationality %></td>
        <td><%= interest.state %></td>
        <td><%= interest.community %></td>
        <td><%= interest.numPrereqs %></td>
        <td><%= interest.scholarship %></td>
        <td><%= interest.faveMovieGenre %></td>
        <td><%= interest.potentialRoles %></td>
        <td><%= interest.numWorkExp %></td>
        <td><%= interest.usedTech %></td>
        <td><%= interest.projects %></td>
        <td><%= interest.extracurric %></td>
        <td><%= interest.pastWorkExp %></td>
        <td><%= link_to 'Show', interest_path(interest.userId) %></td>
        <td><%= link_to 'Edit', edit_interest_path(interest.userId) %></td>
        <td><%= link_to 'Destroy', interest_path(interest.userId), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Interest', new_interest_path %>
