<p id="notice"><%= notice %></p>

<p>
  <strong>Userid:</strong>
  <%= @interest.userId %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @interest.phone %>
</p>

<p>
  <strong>Nationality:</strong>
  <%= @interest.nationality %>
</p>

<p>
  <strong>State:</strong>
  <%= @interest.state %>
</p>

<p>
  <strong>Community:</strong>
  <%= @interest.community %>
</p>

<p>
  <strong>Numprereqs:</strong>
  <%= @interest.numPrereqs %>
</p>

<p>
  <strong>Scholarship:</strong>
  <%= @interest.scholarship %>
</p>

<p>
  <strong>Favemoviegenre:</strong>
  <%= @interest.faveMovieGenre %>
</p>

<p>
  <strong>Potentialroles:</strong>
  <%= @interest.potentialRoles %>
</p>

<p>
  <strong>Numworkexp:</strong>
  <%= @interest.numWorkExp %>
</p>

<p>
  <strong>Usedtech:</strong>
  <%= @interest.usedTech %>
</p>

<p>
  <strong>Projects:</strong>
  <%= @interest.projects %>
</p>

<p>
  <strong>Extracurric:</strong>
  <%= @interest.extracurric %>
</p>

<p>
  <strong>Pastworkexp:</strong>
  <%= @interest.pastWorkExp %>
</p>

<% if current_user.studentId == @interest.userId %>
  <%= link_to 'Edit', edit_interest_path(@interest.userId) %> |
<% end %>
<%= link_to 'Profile', user_path(@interest.userId) %>
<% if current_user.isAdmin %>
  | <%= link_to 'All interests', interests_path %>
<% end %>
