<head>
<%= stylesheet_link_tag 'forum'%>
</head>

<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<!--
  <div class="field">
    <%= form.label :postId %>
    <%= form.number_field :postId %>
  </div>
  -->
<!--
  <div class="field">
    <%= form.label :posterId %>
    <%= form.number_field :posterId %>
  </div>
  -->

  <div class = "edit-post-body">

    <div class="field">
      <%= form.text_field :title , :class => 'title-area'%>
    </div>

    <div class="field">
      <%= form.text_area :body , :class => 'text-area', rows: 10 %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>

  </div>
<% end %>
