<p id="notice"><%= notice %></p>

<h1>Posts</h1>
<!--
<table>
  <thead>
    <tr>
      <th>Postid</th>
      <th>Posterid</th>
      <th>Postdate</th>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>



  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.posterId %></td>
        <td><%= time_ago_in_words(post.postDate) %></td>
        <td><%= post.title %></td>
        <td><%= post.body %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>



<br>

-->
<%= link_to 'New Post', new_post_path %>
    <% @posts.each do |post| %>

        <h2><%= post.title %></h2>
        <td><%= post.body %></td>
        <p>Posted by <%=User.where(studentId: post.posterId).first ? User.where(studentId: post.posterId).first.firstName : "None" %></p>
        <td><%= time_ago_in_words(post.postDate) %> ago</td>
        <td><%= link_to 'Show', post %></td>
        <%if current_user.isAdmin%>
          <td><%= link_to 'Edit', edit_post_path(post) %></td>
          <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>
      <br>
    <% end %>


