<head>  
<%= stylesheet_link_tag 'posts'%>
</head>
<body>

<p id="notice"><%= notice %></p>

<div class = "post-container">
  <div class = "card">
    <div class = "card-body">
      <h1 class = "card-title"> <%= @post.title %> </h1> <br>
      <p> <%= @post.body %> </p> </br> </br>
      <h3 class = "card-subtitle mb-2 text-muted" style = "font-size: 70%">
        <strong>Posted by</strong> 
        <%=User.where(studentId: @post.posterId).first ? User.where(studentId: @post.posterId).first.fullName : "None" %>
        <strong>on</strong>
        <%= @post.postDate %>
      </h3>
    </div>
  </div>
</div>

<div class = "comments-container">
  <div class = "card">
    <div class = "card-body">
      <h1 class = "card-subtitle mb-2 text-muted" style = "font-size: 100%"> <strong>Comments</strong></h1>
      <%Comment.where(postId: @post.postId).each do |comment| %>
        
          <td><%=User.where(studentId: @post.posterId).first ? User.where(studentId: @post.posterId).first.fullName : "None"%>: </td>
          <td><%=comment.message%></td> </br>
          <td><%= time_ago_in_words(comment.commentDate)%> ago</td>
               
          <%if current_user.studentId == comment.posterId%>
            </br>
            <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
            <td><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <%elsif current_user.isAdmin%>
            </br>
            <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
            <td><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <%end%>

          </br></br>
               
      <%end%>
    </div>
  </div>
</div>

<!--
  <%Comment.where(postId: @post.postId).each do |comment| %>
    <tr>
      <td><%=User.where(studentId: @post.posterId).first ? User.where(studentId: @post.posterId).first.fullName : "None"%> said: </td>
      <td><%=comment.message%> </td>
      <br/>
      <td><%= time_ago_in_words(comment.commentDate)%> ago</td>
    </tr>
    <%if current_user.studentId == comment.posterId%>
      <%= link_to 'Edit', edit_comment_path(comment) %>
      <%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %>
    <%elsif current_user.isAdmin%>
      <%= link_to 'Edit', edit_comment_path(comment) %>
      <%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %>
    <%end%>
    <br/>
    <br/>
<% end %>
-->

<div class="reply-container">
  <%if current_user.isOfficer%>
    <strong>Reply:<strong>
  <%= form_with model: @post do |form|%>
  <div class = "field">
      <%= form.text_area :message , :class => 'text-area', rows: 3, placeholder: "Add Comment Here"%>
  </div>
  <div class = "actions">
    <%= form.submit "Add Comment"%>
  </div>
  <%end%>
  <%end%>
</div>

</br>
<div class = "options-container">
  <% if current_user.studentId == @post.posterId%>
    <div class="option-buttons><%= button_to 'Edit Post', edit_post_path(@post) %></div> 
    <div class="option-buttons><%= button_to'Delete Post', @post, method: :delete, data: { confirm: 'Are you sure?' } %> </div>
  <%elsif current_user.isAdmin%>
    <div class="option-buttons><%= button_to 'Delete Post', @post, method: :delete, data: { confirm: 'Are you sure?' } %></div>  
  <%end%>
</div>

</br>
<div class = "return-links">
  <%= link_to 'Back', posts_path %> |
  <%= link_to 'Edit', edit_post_path(@post) %> |
  <%= link_to 'All Posts', posts_path %>
</div>

</body>