<head>  
<nav class="navbar navbar-dark bg-primary"> 
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <h1 style="color: white;">Comment Thread</h1> 
    <%= link_to "Sign Out", destroy_user_session_path, class:"text-light btn btn-outline-light"%>
  </div>
</nav>
<div class="collapse" id="navbarToggleExternalContent">
  <div class="bg-primary p-4">
    <span class="text-white h4 center">
        <ul class="navbar-nav text-center">
            <%= link_to 'Profile', user_path(current_user.studentId), class:"text-light btn btn-primary btn-lg btn-block" %>
            <% if current_user.groupId.present? %>
                <%= link_to 'Group', group_path(current_user.groupId), class:"text-light btn btn-primary btn-lg btn-block" %>
            <% end %>
            <%= link_to 'Forum', posts_path, class:"text-light btn btn-primary btn-lg btn-block" %>
            <%= link_to 'Users', users_path, class:"text-light btn btn-primary btn-lg btn-block" %>
            <% if current_user.isAdmin || current_user.isOfficer%>
              <%= link_to 'All Posts', posts_path, class:"text-light btn btn-primary btn-lg btn-block" %>
              <%= link_to 'All groups', groups_path, class:"text-light btn btn-primary btn-lg btn-block" %>
            <% end %>
        </ul>
    </span>
  </div>
</div>

<%= stylesheet_link_tag 'posts'%>
</head>
<body>
<div class="posts-background">


  <div class = "post-container">
    <div class = "card">
      <div class = "card-body">
        <h1 class = "card-title"> <%= @post.title %> </h1> <br>
        <p> <%= @post.body %> </p> </br> </br>
        <h3 class = "card-subtitle mb-2 text-muted" style = "font-size: 70%">
          <strong>Posted by</strong> 
          <%=User.where(studentId: @post.posterId).first ? User.where(studentId: @post.posterId).first.fullName : "None" %>
          <strong>on</strong>
          <%= @post.postDate %>
        </h3>
      </div>
    </div>
  </div>

  <div class = "comments-container">
    <div class = "card">
      <div class = "card-body">
        <h1 class = "card-subtitle mb-2 text-muted" style = "font-size: 100%"> <strong>Comments</strong></h1>
        <%Comment.where(postId: @post.postId).each do |comment| %>
          
            <td><%=User.where(studentId: @post.posterId).first ? User.where(studentId: @post.posterId).first.fullName : "None"%>: </td>
            <td><%=comment.message%></td> </br>
            <td><%= time_ago_in_words(comment.commentDate)%> ago</td>
                
            <%if current_user.studentId == comment.posterId%>
              </br>
              <td><%= link_to 'Edit', edit_comment_path(comment), class:"text-white btn btn-primary btn-sm"   %></td>
              <td><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' }, class:"text-white btn btn-primary btn-sm" %></td>
            <%elsif current_user.isAdmin%>
              </br>
              <td><%= link_to 'Edit', edit_comment_path(comment), class:"text-white btn btn-primary btn-sm"   %></td>
              <td><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' }, class:"text-white btn btn-primary btn-sm" %></td>
            <%end%>

            </br></br>
                
        <%end%>
      </div>
    </div>
  </div>

  <!--
    <%Comment.where(postId: @post.postId).each do |comment| %>
      <tr>
        <td><%=User.where(studentId: @post.posterId).first ? User.where(studentId: @post.posterId).first.fullName : "None"%> said: </td>
        <td><%=comment.message%> </td>
        <br/>
        <td><%= time_ago_in_words(comment.commentDate)%> ago</td>
      </tr>
      <%if current_user.studentId == comment.posterId%>
        <%= link_to 'Edit', edit_comment_path(comment), class:"text-white btn btn-primary btn-sm"   %>
        <%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' }, class:"text-white btn btn-primary btn-sm" %>
      <%elsif current_user.isAdmin%>
        <%= link_to 'Edit', edit_comment_path(comment), class:"text-white btn btn-primary btn-sm"   %>
        <%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' }, class:"text-white btn btn-primary btn-sm" %>
      <%end%>
      <br/>
      <br/>
  <% end %>
  -->

  <div class="reply-container">
    <%if current_user.isOfficer%>
      <strong>Reply:<strong>
      <%= form_with model: @post do |form|%>
        <div class = "actions">
            <%= form.text_area :message , :class => 'text-area', rows: 3, placeholder: "Add Comment Here"%>
        </div>
        <div class = "actions">
          <%= form.submit "Add Comment", class: 'btn btn-primary'%>
          
        </div>
      <%end%>
    <%end%>
  </div>


  </br>
  <div class = "options-container">
    <%= link_to 'Back', posts_path , class:"text-white btn btn-primary" %>
    <div class="space"></div>
    <% if current_user.studentId == @post.posterId%>
      <div class="option-buttons><%= button_to 'Edit Post', edit_post_path(@post), class:"text-white btn btn-primary" %></div> 
      <div class="space"></div>
      <div class="option-buttons><%= button_to'Delete Post', @post, method: :delete, data: { confirm: 'Are you sure?' }, class:"text-white btn btn-primary" %> </div>
    <%elsif current_user.isAdmin%>
      <div class="option-buttons><%= button_to 'Delete Post', @post, method: :delete, data: { confirm: 'Are you sure?' } %></div>  
    <%end%>
  </div>

</body>